/* Reset some default styling */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

.input-container, .video-input-container{
  
  margin-top: 10px;  
  margin-bottom: 10px;
}
label{
  margin-top: 50px;
  margin-bottom: 30px;
  font-variant: small-caps;
  font-weight: bolder;
}
input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  font-size: 20px;
  height: 40px;
  width: 180px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Set some global styles */
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color:gainsboro;
  
  font-size: xx-large;
}
hr{
  height: 10px;
  background-color: #000;
}
/* Your existing styles */

#header{
  border-bottom: 7px solid #5a5353;
}

.remove{
  margin-top: 20px;
  position: absolute;
  
  transform: translate(-100%);
}
.image-detail-container {
  text-align: center;
  max-width: auto;
  margin-left: 0 ;
  /* padding: 20px; */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */

}

.image-detail {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  /* padding: 20px; */
  background-color: grey;
  border-bottom: 10px solid black;
  
  
}
#image-detail{
  /* border: 2px black solid; */
  padding: 20px;
  padding-left: 200px;

}
.image-detail img {
  max-width: 100;
  max-height: 400px;
}
.input-container{
  width: 100%;
}
.inputProject{
  width: 100%;
}
.InfoHead{
  text-align: left;
  padding-left: 100px;
  font-weight: bolder;
  font-family: 'Arial', sans-serif;
  font-variant: small-caps;
  font-size: 60px;


  
}

.input-container {
  margin-bottom: 50px;
}

.input-container label, .video-input-container label {
  font-size: 32px;
  display: block;
  margin-bottom: 5px;
}

.input-container input, .video-input-container input {
  /* margin-left: 5%; */

  font-size: 25px;
  width: 1350px;
  padding: 5px;
  border: none;
  border-bottom: 8px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.3s ease-out;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 30px;
}
.input-container input:focus , .video-input-container input:focus{
  border-bottom-color: #000; /* Change bottom border color on focus to black */
}
#project-specs {
  margin-bottom: 10px;
}

.project-specs-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.project-spec {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#project-name{
  display: block;
  font-family: 'Arial', sans-serif;
  font-size:4cm;
  color: #000000; /* Text color */
  margin-bottom: 100px; /*Add some space below the label*/  
  margin-top: 120px;
  padding-left: 200px;
}
#add-project-spec-row {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#submit-Details {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#submit-images, #submit-videos {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}


.image-details-submit {
  text-align: center;
  margin-top: 20px;
}
.image-submit {
  text-align: center;
  margin-top: 20px;
}


/* Styling for the input images button */
#image-input {
  border: none;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
/* Previous and next div */
#next-villa{
  display: flexbox;
  height: 100px;
  width: auto;
  

}
#previousVillaBtn,#nextVillaBtn{
  margin: 30px;
  margin-top: 100px;
}
/* Styling for the image slider */
.image-slider,.video-slider  {
  display: flex;
  overflow-x: scroll;
  margin-top: 10px;
  margin-top: 100px;
  padding: 50px;

}

.image-slider img,.image-slider video {
  max-width: 350px;
  max-height: 300px;
  margin-right: 10px;
  border: 5px solid grey;
  border-radius: 3px;
}
