<!DOCTYPE html>
<html>
<head>
    <title>Image Detail</title>
    <link rel="stylesheet" href="imageDetailstyle.css"> <!-- Include your CSS stylesheet here -->
</head>
<body>
    <div class="image-detail-container">
        <div class="image-detail">
            <img id="image-detail" src="/uploads/<%= image.filename %>" alt="<%= image.description %>">
            <label id="image-description"></label>
            <label id="project-name" ><%= image.description %></label>
            
        </div>
        
        <!-- New input fields -->
        <div class="input-container">
            <label for="type-project">Type/Project</label>
            <input type="text" id="type-project" name="type-project">
        </div>
        <div class="input-container">
            <label for="location">Location</label>
            <input type="text" id="location" name="location">
        </div>
        <div class="input-container">
            <label for="area">Area</label>
            <input type="text" id="area" name="area">
        </div>
        <div class="input-container">
            <label for="client">Client</label>
            <input type="text" id="client" name="client">
        </div>
        <div class="input-container">
            <label for="objective">Objective</label>
            <input type="text" id="objective" name="objective">
        </div>
        <div id="inputFields">
            <label for="input">Project Specs</label>
            <div class="input-container">
              <input type="text" class="input" placeholder="Enter something" id="input" name="input">
              <!-- <button class="remove">Remove</button> -->
            </div>
          </div>
          <button id="addInput">Add Input Field</button>
          <!-- <button id="logValues">Log Values</button> -->
         <!-- Input for multiple images -->
         <div class="image-details-submit">
            <button type="submit" id="submit-Details">Save Details</button>
        </div>
        
         <div class="input-container">
            <label for="image-input">Insert Images</label>
            <!-- <input type="file"  name="image" accept="image/*" multiple> -->
            <input type="file" name="images" accept="image/*" id="input-img-form" multiple required>
            <button type="submit" id="submit-images" >Upload Image</button>

        </div>
        <div class="image-slider">
            <!-- Images inserted will be displayed here -->
        </div>
        <!-- Photo at the bottom -->

        <!-- <div class="image-submit">
            <button type="submit" id="submit-images">Save Details</button>
        </div> -->
    </div>
    <div class="image-slider">
        <% if (filteredArray && filteredArray.length > 0) { %>
            <% filteredArray.forEach(imageName => { %>
                <div class="multiple-images">
                    <img src="/extraImages/<%= imageName %>" alt="Image" style="width: 400px; height: 200px; object-fit: cover;">
                    <button class="removeimg">Delete</button>
                </div>
            <% }); %>
        <% } else { %>
            <p>No images available.</p>
        <% } %>
    </div>
    
    <script src="imageDetail.js"></script>
</body>
</html>
